@model Entities.Dtos.BookForGetByIdDto



<form method="post">
    <div hidden>
        <input asp-for="@Model.Id" />
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Book name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="@Model.BookName">
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Author name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="@Model.AuthorName">
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Language</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="@Model.Language">
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Publish time</label>
        <div class="col-sm-10">
            <input type="datetime-local" class="form-control" asp-for="@Model.PublishTime">
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" asp-for="@Model.Price">
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Shipping status</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" asp-for="@Model.ShippingStatus" value="True">
            <label class="form-check-label">
                Free shipping
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" checked asp-for="@Model.ShippingStatus" value="False">
            <label class="form-check-label">
                Paid shipping
            </label>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Book status</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="@Model.BookStatus" value="True">
            <label class="form-check-label">
                New
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" checked asp-for="@Model.BookStatus" value="False">
            <label class="form-check-label">
                Old
            </label>
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Book category</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="@Model.BookCategoryId">
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <textarea class="form-control" asp-for="@Model.Description" cols="20"></textarea>
        </div>
    </div>
    <br />
    <p><button type="submit" asp-action="Edit" asp-controller="Book">Save</button></p>
</form>
